Repository ansible-collections/netapp, pull requests merged in 2019-10, with the labels that each got.

#7 have pipeline run on pull request as well
  .github/workflows/main.yml
Labels: Pipeline

#6 na_ontap_command - new features
  ansible_collections/netapp/ontap/plugins/modules/na_ontap_command.py
Labels: ONTAP

#10 Update na_ontap_info.py
  ansible_collections/netapp/ontap/plugins/modules/na_ontap_info.py
Labels: ONTAP

#13 adds snapmirror info gathering
  ansible_collections/netapp/ontap/plugins/modules/na_ontap_info.py
Labels: ONTAP, enhancement
